In [2]:
print('Задание 1')

Задание 1

In [3]:
import pandas as pd
import numpy as np
import json
import re

In [4]:
names_column = open('horse_data.names').read()
true_names = re.findall(r'\d+\:\s+\w+.+', names_column)
true_names

['1:  surgery?',
 '2:  Age',
 '3:  Hospital Number',
 '4:  rectal temperature',
 '5:  pulse',
 '6:  respiratory rate',
 '7:  temperature of extremities',
 '8:  peripheral pulse',
 '9:  mucous membranes',
 '10: capillary refill time',
 "11: pain - a subjective judgement of the horse's pain level",
 '12: peristalsis',
 '13: abdominal distension',
 '14: nasogastric tube',
 '15: nasogastric reflux',
 '16: nasogastric reflux PH',
 '17: rectal examination - feces',
 '18: abdomen',
 '19: packed cell volume',
 '20: total protein',
 '21: abdominocentesis appearance',
 '22: abdomcentesis total protein',
 '23: outcome',
 '24: surgical lesion?',
 '27: type of lesion',
 '28: cp_data']

In [13]:
true_names_2 = true_names.pop()
true_names

['1:  surgery?',
 '2:  Age',
 '3:  Hospital Number',
 '4:  rectal temperature',
 '5:  pulse',
 '6:  respiratory rate',
 '7:  temperature of extremities',
 '8:  peripheral pulse',
 '9:  mucous membranes',
 '10: capillary refill time',
 "11: pain - a subjective judgement of the horse's pain level",
 '12: peristalsis',
 '13: abdominal distension',
 '14: nasogastric tube',
 '15: nasogastric reflux',
 '16: nasogastric reflux PH',
 '17: rectal examination - feces',
 '18: abdomen',
 '19: packed cell volume',
 '20: total protein',
 '21: abdominocentesis appearance',
 '22: abdomcentesis total protein',
 '23: outcome',
 '24: surgical lesion?']

In [14]:
true_names.append('25: type of lesion')
true_names.append('26: type of lesion')
true_names.append('27: type of lesion')
true_names.append('28: cp_data')
true_names

['1:  surgery?',
 '2:  Age',
 '3:  Hospital Number',
 '4:  rectal temperature',
 '5:  pulse',
 '6:  respiratory rate',
 '7:  temperature of extremities',
 '8:  peripheral pulse',
 '9:  mucous membranes',
 '10: capillary refill time',
 "11: pain - a subjective judgement of the horse's pain level",
 '12: peristalsis',
 '13: abdominal distension',
 '14: nasogastric tube',
 '15: nasogastric reflux',
 '16: nasogastric reflux PH',
 '17: rectal examination - feces',
 '18: abdomen',
 '19: packed cell volume',
 '20: total protein',
 '21: abdominocentesis appearance',
 '22: abdomcentesis total protein',
 '23: outcome',
 '24: surgical lesion?',
 '25: type of lesion',
 '26: type of lesion',
 '27: type of lesion',
 '28: cp_data']

In [15]:
na_values = ['None', '(S)', '?']
horse_data = pd.read_csv('horse_data.csv', header=None, dtype={'pctapi': np.float64}, na_values=na_values)
horse_data.columns = true_names
filtered_horse_data = horse_data[['1:  surgery?', '2:  Age', '4:  rectal temperature', '5:  pulse', '6:  respiratory rate', '7:  temperature of extremities', "11: pain - a subjective judgement of the horse's pain level", '23: outcome']]
filtered_horse_data

,1: surgery?,2: Age,4: rectal temperature,5: pulse,6: respiratory rate,7: temperature of extremities,11: pain - a subjective judgement of the horse's pain level,23: outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [16]:
print('Задание 2')

Задание 2

In [17]:
filtered_horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   1:  surgery?                                                 299 non-null    float64
 1   2:  Age                                                      300 non-null    int64
 2   4:  rectal temperature                                       240 non-null    float64
 3   5:  pulse                                                    276 non-null    float64
 4   6:  respiratory rate                                         242 non-null    float64
 5   7:  temperature of extremities                               244 non-null    float64
 6   11: pain - a subjective judgement of the horse's pain level  245 non-null    float64
 7   23: outcome                                                  299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [21]:
filtered_horse_data.describe()

,1: surgery?,2: Age,4: rectal temperature,5: pulse,6: respiratory rate,7: temperature of extremities,11: pain - a subjective judgement of the horse's pain level,23: outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [20]:
print(filtered_horse_data['1:  surgery?'].round().mode()[0])
print(filtered_horse_data['2:  Age'].round().mode()[0])
print(filtered_horse_data['4:  rectal temperature'].round().mode()[0])
print(filtered_horse_data['5:  pulse'].round().mode()[0])
print(filtered_horse_data['6:  respiratory rate'].round().mode()[0])
print(filtered_horse_data['7:  temperature of extremities'].round().mode()[0])
print(filtered_horse_data["11: pain - a subjective judgement of the horse's pain level"].round().mode()[0])
print(filtered_horse_data['23: outcome'].round().mode()[0])

1.0
1
38.0
48.0
20.0
3.0
3.0
1.0

In [ ]:
# большинство лошадей были прооперированы,
# большинство лошадей взрослые,
# средняя ректальная температура всех лошадей соответствует нормальной,
# пульс выше нормальных значений,
# средняя частота дыхания выше нормальной,
# средняя температура конечностей прохладная,
# средний уровень боли - прерывистая легкая боль,
# в итоге большинство лошадей выжило.

In [37]:
q1 = filtered_horse_data['5:  pulse'].quantile(0.25)
q3 = filtered_horse_data['5:  pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = filtered_horse_data[filtered_horse_data['5:  pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('5:  pulse')
remove_outliers
# ищу выбросы по пульсу.

,1: surgery?,2: Age,4: rectal temperature,5: pulse,6: respiratory rate,7: temperature of extremities,11: pain - a subjective judgement of the horse's pain level,23: outcome
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
276,1.0,1,38.0,36.0,16.0,3.0,4.0,3.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0

In [36]:
pd.concat([filtered_horse_data, remove_outliers]).drop_duplicates(keep=False)

,1: surgery?,2: Age,4: rectal temperature,5: pulse,6: respiratory rate,7: temperature of extremities,11: pain - a subjective judgement of the horse's pain level,23: outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [38]:
print('Задание 3')

Задание 3

In [39]:
(filtered_horse_data.isna().mean() * 100).round(2)

1:  surgery?                                                    0.33
2:  Age                                                         0.00
4:  rectal temperature                                         20.00
5:  pulse                                                       8.00
6:  respiratory rate                                           19.33
7:  temperature of extremities                                 18.67
11: pain - a subjective judgement of the horse's pain level    18.33
23: outcome                                                     0.33
dtype: float64

In [75]:
new_filtered = filtered_horse_data.dropna(thresh=7)
new_filtered.info()
# принял решение, что необходимы практически полные сведения (если 8 ставить, в 2 раза меньше данных будет)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   1:  surgery?                                                 231 non-null    float64
 1   2:  Age                                                      231 non-null    int64
 2   4:  rectal temperature                                       208 non-null    float64
 3   5:  pulse                                                    228 non-null    float64
 4   6:  respiratory rate                                         210 non-null    float64
 5   7:  temperature of extremities                               216 non-null    float64
 6   11: pain - a subjective judgement of the horse's pain level  216 non-null    float64
 7   23: outcome                                                  231 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 16.2 KB

In [76]:
(new_filtered.isna().mean() * 100).round(2)

1:  surgery?                                                   0.00
2:  Age                                                        0.00
4:  rectal temperature                                         9.96
5:  pulse                                                      1.30
6:  respiratory rate                                           9.09
7:  temperature of extremities                                 6.49
11: pain - a subjective judgement of the horse's pain level    6.49
23: outcome                                                    0.00
dtype: float64

In [77]:
new_filtered.describe()

,1: surgery?,2: Age,4: rectal temperature,5: pulse,6: respiratory rate,7: temperature of extremities,11: pain - a subjective judgement of the horse's pain level,23: outcome
count,231.000000,231.000000,208.000000,228.000000,210.000000,216.000000,216.000000,231.000000
mean,1.415584,1.588745,38.164904,71.043860,30.161905,2.291667,2.833333,1.519481
std,0.493893,2.093396,0.723497,27.839341,16.896320,1.053510,1.257535,0.739160
min,1.000000,1.000000,35.400000,36.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.100000,64.000000,27.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,90.000000,4.000000,5.000000,3.000000

In [78]:
print(new_filtered['1:  surgery?'].round().mode()[0])
print(new_filtered['2:  Age'].round().mode()[0])
print(new_filtered['4:  rectal temperature'].round().mode()[0])
print(new_filtered['5:  pulse'].round().mode()[0])
print(new_filtered['6:  respiratory rate'].round().mode()[0])
print(new_filtered['7:  temperature of extremities'].round().mode()[0])
print(new_filtered["11: pain - a subjective judgement of the horse's pain level"].round().mode()[0])
print(new_filtered['23: outcome'].round().mode()[0])

1.0
1
38.0
48.0
20.0
3.0
3.0
1.0

In [79]:
# данные по средней и моде не силно поменялись, заменяю NA на среднюю.

In [97]:
new_filtered['4:  rectal temperature'].fillna(new_filtered['4:  rectal temperature'].mean(), inplace=True)
new_filtered['4:  rectal temperature'].fillna(new_filtered['4:  rectal temperature'].mean()).isna().sum()

0

In [98]:
new_filtered['5:  pulse'].fillna(new_filtered['5:  pulse'].mean(), inplace=True)
new_filtered['5:  pulse'].fillna(new_filtered['5:  pulse'].mean()).isna().sum()

0

In [99]:
new_filtered['6:  respiratory rate'].fillna(new_filtered['6:  respiratory rate'].mean(), inplace=True)
new_filtered['6:  respiratory rate'].fillna(new_filtered['6:  respiratory rate'].mean()).isna().sum()

0

In [100]:
new_filtered['7:  temperature of extremities'].fillna(new_filtered['7:  temperature of extremities'].mean(), inplace=True)
new_filtered['7:  temperature of extremities'].fillna(new_filtered['7:  temperature of extremities'].mean()).isna().sum()

0

In [101]:
new_filtered["11: pain - a subjective judgement of the horse's pain level"].fillna(new_filtered["11: pain - a subjective judgement of the horse's pain level"].mean(), inplace=True)
new_filtered["11: pain - a subjective judgement of the horse's pain level"].fillna(new_filtered["11: pain - a subjective judgement of the horse's pain level"].mean()).isna().sum()

0

In [106]:
new_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   1:  surgery?                                                 231 non-null    float64
 1   2:  Age                                                      231 non-null    int64
 2   4:  rectal temperature                                       231 non-null    float64
 3   5:  pulse                                                    231 non-null    float64
 4   6:  respiratory rate                                         231 non-null    float64
 5   7:  temperature of extremities                               231 non-null    float64
 6   11: pain - a subjective judgement of the horse's pain level  231 non-null    float64
 7   23: outcome                                                  231 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 16.2 KB

In [104]:
new_filtered.describe()

,1: surgery?,2: Age,4: rectal temperature,5: pulse,6: respiratory rate,7: temperature of extremities,11: pain - a subjective judgement of the horse's pain level,23: outcome
count,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000
mean,1.415584,1.588745,38.158442,70.616017,30.883550,4.616883,5.123377,1.519481
std,0.493893,2.093396,0.686646,27.908637,16.268064,8.901208,8.793435,0.739160
min,1.000000,1.000000,35.400000,36.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.100000,60.000000,28.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,38.100000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,90.000000,38.100000,38.100000,3.000000

In [107]:
(new_filtered.isna().mean() * 100).round(2)

1:  surgery?                                                   0.0
2:  Age                                                        0.0
4:  rectal temperature                                         0.0
5:  pulse                                                      0.0
6:  respiratory rate                                           0.0
7:  temperature of extremities                                 0.0
11: pain - a subjective judgement of the horse's pain level    0.0
23: outcome                                                    0.0
dtype: float64

In [108]:
new_filtered

,1: surgery?,2: Age,4: rectal temperature,5: pulse,6: respiratory rate,7: temperature of extremities,11: pain - a subjective judgement of the horse's pain level,23: outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,38.1,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
295,1.0,1,38.1,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0