In [66]:
print('Задание 1')

Задание 1

In [67]:
import pandas as pd

In [68]:
data_ratings = pd.read_csv('ratings.csv')
data_movies = pd.read_csv('movies.csv')

In [107]:
merged_movie = data_movies.merge(data_ratings, how = 'outer', left_on='movieId', right_on='movieId')
merged_movie.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [111]:
merged_movie['rating_comma'] = merged_movie['rating'].apply(lambda x: str(x).replace('.', ','))
new_list = merged_movie.loc[merged_movie['rating_comma'] == '5,0']
new_list.head()

,movieId,title,genres,userId,rating,timestamp,rating_comma
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31.0,5.0,850466616.0,"5,0"
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40.0,5.0,832058959.0,"5,0"
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43.0,5.0,848993983.0,"5,0"
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46.0,5.0,834787906.0,"5,0"
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57.0,5.0,965796031.0,"5,0"

In [117]:
new_list['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

In [118]:
print('Задание 2')

Задание 2

In [138]:
data_power = pd.read_csv('power.csv')
data_power.sort_values(by='quantity').head()

              country  year  quantity  category
832375  United States  2000 -864348.0        42
832373  United States  2002 -562414.0        42
832362  United States  2013 -551490.0        42
832380  United States  1995 -493380.0        42
832322        Ukraine  2010 -477263.0        42

In [203]:
data_power['quantity_new'] = data_power['quantity'].apply(lambda x: str(x).replace('.', ','))
filter_1 = data_power[data_power['quantity_new'] >= '0,0']
filter_2 = filter_1[(filter_1['country']=='Latvia') | (filter_1['country']=='Estonia') | (filter_1['country']=='Lithuania')]
filter_3 = filter_2[(filter_2['year'] >= 2005) & (filter_2['year'] <= 2010)]
filter_4 = filter_3[(filter_3['category']== 4) | (filter_3['category']== 12) | (filter_3['category']== 21)]
filter_4['quantity'].sum()

240580.0

In [204]:
print('Задание 3')

Задание 3

In [216]:
Page_1 = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[0]
Page_1

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  88.10       0.22          0.24        NaN
1       USDRUB Курс рубля к доллару  74.57      -0.01         -0.01        NaN

In [215]:
Page_2 = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]
Page_2

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 895,"0,3%",Nasdaq,14 665,"0,0%",Биткойн,33 259,"-1,8%",USD/RUB,746243,"-0,2%"
1,РТС,1 641,"-0,2%",S&P500,4 358,"0,3%",Нефть,731,"-0,3%",EUR/RUB,879865,"-0,2%"
2,Dow,34 682,"0,3%",FTSE100,7 151,"0,7%",Золото,1 799,"-0,3%",EUR/USD,11791,"0,0%"